h1{
	text-align: center;
	background-color: red; 

}
h3{
	text-align: center;
	background-color: red; 
}
ul{
	text-align: center;
	background-color: red; 
}
li{
	text-align: center;
	background-color: red; 

}
p{
	text-align: center;
	background-color: red; 
}
#moviepic{
	text-align: center;
	 
}
